<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="clientCert" value="33566CC932DAF8914196BF58C70E9651" />
    <add key="serverEndpoint" value="https://statesv02.shawniq.com/SYSTEMQueryNIEMwcf.svc" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap">
          <security mode="Transport" />
        </binding>
        <binding name="WebService1Soap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="customEndPointBinding">
          <transactionFlow />
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport requireClientCertificate="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://statesv02.shawniq.com/WebService1.asmx" binding="customBinding" bindingConfiguration="customEndPointBinding" behaviorConfiguration="ohBehave" contract="ServiceReference1.WebService1Soap" name="WebService1Soap" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ohBehave">
          <clientCredentials useIdentityConfiguration="false">
            <clientCertificate storeLocation="LocalMachine" storeName="My" findValue="33566CC932DAF8914196BF58C70E9651" x509FindType="FindBySerialNumber" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>