
<configuration>
  <system.serviceModel>

    <client>
      <endpoint behaviorConfiguration="ClientCertificateBehavior" binding="wsHttpBinding" bindingConfiguration="MyBinding" contract="WcfService1.ISYSTEMQueryNIEMwcf" />
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
			<clientCertificate storeLocation="LocalMachine" storeName="My" findValue="15000000179A43E8FD99F5095E000000000017" x509FindType="FindBySerialNumber" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

 <bindings>
      <wsHttpBinding>
        <binding name="MyBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>