<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISYSTEMQueryNIEMwcf">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44321/SYSTEMQueryNIEMwcf.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISYSTEMQueryNIEMwcf"
                contract="wcfwebapp.ServiceReference2.ISYSTEMQueryNIEMwcf"
                name="WSHttpBinding_ISYSTEMQueryNIEMwcf" />
        </client>
    </system.serviceModel>
</configuration>